@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@font-face {
    font-family: 'PT Sans';
    src: 
    url('../fonts/PTSans/PTSans-Caption.woff') format('woff'),
    url('../fonts/PTSans/PTSans-Caption.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }
@font-face {
    font-family: 'Playfair Display';
    src: 
    url('../fonts/Playfair/PlayfairDisplay-Regular.woff') format('woff'),
    url('../fonts/Playfair/PlayfairDisplay-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
        }
